<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="png" sizes="32x32" href="./mylogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>templets</title>
</head>

<body class="gap-60 bg-gray-800  justify-center content-center">

    <h1 class="text-3xl font-bold text-gray-800 dark:text-white md:text-5xl pt-20  flex  justify-center content-center">
        Templates</h1>
    </div>
    <div class="flex gap-60  justify-center content-center pt-40">

        <div class="relative overflow-hidden bg-no-repeat bg-cover max-w-xs" data-mdb-ripple="true"
            data-mdb-ripple-color="light">
            <img src="./tm1.png" class="w-1:" alt="Louvre" />
            <a href="/tmp1">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                    style="background-color: rgba(13, 6, 6, 0.2)"></div>
            </a>
        </div>
        <div class="relative overflow-hidden bg-no-repeat bg-cover max-w-xs" data-mdb-ripple="true"
            data-mdb-ripple-color="light">
            <img src="./tmp2.png" class="max-w-xs" alt="Louvre" />
            <a href="/tmp2">
                <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                    style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
        </div>
    </div>
    </div>
    <div class="py-5 pt-60">
        <div class="grid grid-cols-2 gap-1">
            <div class="text-center sm:text-left whitespace-nowrap">
                <button
                    class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-4 h-4 inline-block align-text-top">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
                    <span class="inline-block ml-1"><a href="/">Back to Home</a></span>
                </button>
            </div>
        </div>
  
</body>

</html>