<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="png" sizes="32x32" href="./mylogo.png">

    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" media="screen" href="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"
        integrity="sha512-qZvrmS2ekKPF2mSznTQsxqPgnpkI4DNTlrdUmTzrDgektczlKNRRhy5X5AAOnx5S09ydFYWWNSfcEqDTTHgtNA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="flex justify-center content-center">

    <!-- outer container -->
    <div class="border border-red-200 rounded-sm shadow-lg py-10 px-10 w-4/5 mt-10 mb-10 ">
        <!-- header (profile) -->
        <header>
            <div class="grid mt-0 justify-items-end">
                <h1 class="text-7xl font-extrabold  "><input type="text" name="" id=""
                        placeholder="you name" class="uppercase "></input></h1>
                
            </div>
        </header>
        <!-- detailed info -->
        <main class="flex gap-x-10 mt-10">
            <div class="w-2/6">
                <!-- contact details -->
                <strong class="text-xl font-medium">Contact Details</strong>
                <ul class="mt-2 mb-10">
                    <li class="px-2 mt-1"><strong class="mr-1">Phone </strong><br>
                        <input type="text" name="" id="" placeholder="Enter you number phone" class="w-full "> </input>
                    <li class="px-2 mt-1"><strong class="mr-1">E-mail </strong><br>
                        <input type="text" name="" id="" placeholder="Enter you E-mail" class="w-full "></input>
                    </li>
                    <li class="px-2 mt-1"><strong class="mr-1">Location</strong><span class="block">
                            <input type="text" name="" id="" placeholder="Enter you location" class="w-full  "></span>
                    </li>
                </ul>


                <!-- skills -->
                <strong class="text-xl font-medium">Skills</strong><br>
                <span><textarea type="text" name="" id="" placeholder="Enter you skills"
                        class="px-2 mt-1 w-full pb-30 "></textarea></span><br><br>
                <strong class="text-xl font-medium " class="px-2 mt-1">Further Education</strong><br>
                <span><textarea type="text" name="" id="" placeholder="Enter you Education"
                        class="px-2 mt-1 w-full pb-30 "></textarea></span><br><br>

                </ul>
                <!-- what I'm learning these days -->
                <strong class="text-xl font-medium">Currently learning</strong>
                <span><textarea type="text" name="" id="" placeholder="Enter yor Currently learning"
                        class="px-2 mt-1 w-full pb-30 "></textarea></span><br><br>

                <strong class="text-xl font-medium">Interests & Hobbies</strong>
                <div class="mt-2">
                    <span><textarea type="text" name="" id="" placeholder="Enter yor hobbies"
                            class="px-2 mt-1 w-full pb-60 "></textarea></span><br><br>

                </div>
            </div>
            <!-- info -->
            <div class="w-4/6">
                <section>
                    <!-- about me -->
                    <h2 class="text-2xl pb-1 border-b font-semibold">About</h2>
                    <p class="mt-4 text-xs "><textarea type="text" name="" id="" placeholder="text" class="pb-30 w-full "></textarea>
                    </p>

                </section>
                <section>
                    <!-- projects -->
                    <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Projects</h2>
                    <ul class="mt-1">
                        <li class="py-2">
                            <div class=" justify-between my-1">

                                <strong><input type="text" name="" id="" placeholder="project name"
                                        class="mt-1 "></input></strong> <br>
                                <span class="mt-4 text-xs "> <br><textarea type="text" name="" id="" placeholder="text" class="pb-30 w-full "></textarea></span>

                            </div>


                        </li>
                        <li class="py-2">
                            <div class=" justify-between my-1">

                                <strong><input type="text" name="" id="" placeholder="project name"
                                        class="mt-1 "></input></strong> <br>
                                <span class="mt-4 text-xs "> <br><textarea type="text" name="" id="" placeholder="text" class="pb-30 w-full "></textarea></span>

                            </div>

                         
                        </li>
                        <li class="py-2">
                            <div class=" justify-between my-1">

                                <strong><input type="text" name="" id="" placeholder="project name"
                                        class="mt-1 "></input></strong> <br>
                                <span class="mt-4 text-xs "> <br><textarea type="text" name="" id="" placeholder="text" class="pb-30 w-full "></textarea></span>

                            </div>

                    
                    </ul>
                </section>
                <section>
                    <!-- work experiences -->
                    <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Work Experiences</h2>
                    <ul class="mt-2 ">
                        <li class="pt-2">
                            <div class=" justify-between my-1">
                                <strong><input type="text" name="" id="" placeholder="Company Name"
                                    class="mt-1 "></input></strong> <br>
                            <span class="mt-4 text-xs "> <br><textarea type="text" name="" id="" placeholder="text" class="pb-30 w-full "></textarea></span>

                            </div>
                        </li>
                        <li class="pt-2">
                            <div class=" justify-between my-1">
                                <strong><input type="text" name="" id="" placeholder="Company Name"
                                    class="mt-1 "></input></strong> <br>
                            <span class="mt-4 text-xs "> <br><textarea type="text" name="" id="" placeholder="text" class="pb-30 w-full "></textarea></span>

                            </div>
                        </li>
                    </ul>
                </section>
                <section>
                    <!-- education -->
                    <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Education</h2>
                    <ul class="mt-2">
                        <div class=" justify-between my-1">
                            <strong><input type="text" name="" id="" placeholder="Text"
                                class="mt-1 "></input></strong> <br>
                        <span class="mt-4 text-xs "><input type="text" name="" id="" placeholder="text"
                                class="pb-3 w-full "></span>

                        </div>
                        <div class=" justify-between my-1">
                            <strong><input type="text" name="" id="" placeholder="Text"
                                class="mt-1 "></input></strong> <br>
                        <span class="mt-4 text-xs "><input type="text" name="" id="" placeholder="text"
                                class="pb-3 w-full "></span>

                        </div>
                    </ul>
                </section>
                
        </main>
        <div class="grid grid-cols-2 gap-1">
            <div class="text-center sm:text-left whitespace-nowrap">
                <button
                onclick="printFunction()"
                    class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-00 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                   
                    <span class="inline-block ml-1"><a href="">SAVE PDF</a></span>
                </button>
            </div>
        </div>
        </div>
      </div>
      <script>
        function printFunction() { 
            window.print(); 
          }
    </script>
</body>


</html>